<div class="container">    
    <div class="left">
        <img src="assets/DALL·E 2025-01-12 14.37.31 - A professional and modern splash screen design for an app named 'Shiv Campaign', suitable for both web and mobile platforms. The design has a clean, p.webp" alt="Initial Screen" class="static-image"/>
        <div class="static-content">
            <h1>Welcome to our application.</h1>
        </div>
    </div>
    <div class="right">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Signup">
                    <app-signup></app-signup>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
